table {
  width: 100%;
}

.contenedor {
  border: 1px solid #ccc;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

.visorFormula {
  width: 100%;
  font-size: 4rem;
  height: 100px;
  border: none;
  background-color: #ebeaf0;
  color: rgb(8, 8, 8);
  text-align: right;
}

.visorResultado{
  width: 100%;
  font-size: 5rem;
  height: 70px;
  border: none;
  background-color: #ebeaf0;
  color: rgb(8, 8, 8);
  text-align: right;
}
.visorPreparado{
  width: 100%;
  font-size: 2rem;
  height: 70px;
  border: none;
  background-color: #ebeaf0;
  color: rgb(8, 8, 8);
  text-align: right;
}

button {
  height: 60px;
  background-color: #fff;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(240, 242, 247);
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #2e86c0;
}

.operator {
  color: rgb(240, 242, 247);
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
  grid-area: 2 / 5 / 5 / 6;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: rgb(66, 78, 110);
}

.numeros {
  background-color: rgb(66, 78, 110);
  color: rgb(240, 242, 247);
  
}